/*style.css --------*/
body {
  font-family: AnironC;
}

/*NavBar ----------*/

.navbar-nav {
  background-color: #FFA033;
}

/*carousel : img of Gandalf / opacity ----------------------------------------------------------------------------------------*/
.card-img-top {
  opacity: 0.5;
}

/*carousel : text of Gandalf ----------------------------------------------------------------------------------------*/
.nametext {
	position: absolute;
  color: white;
  top: 250px;
  left: 90px;
  font-size: 2em;
}

/*carousel : reward of Gandalf + span ----------------------------------------------------------------------------------------*/
.rewardtext {
	position: absolute;
 	background-color: rgba(255, 255, 255, 0.75);
 	border-radius: 8px;
 	color: black;
 	top: 5px;
 	right: 1.5px;
 	font-size: 2em;
 	margin: 8px;
 	padding: .5em;
 	opacity: 1;
}

span {
  color: #FE6B0A;
}

/*carousel : hover reaction ! ----------------------------------------------------------------------------------------*/
.card:hover .rewardtext {
  opacity : 0;
}

.card:hover .card-img-top {
  opacity : 1;
}

.card:hover .nametext{
  font-size: 2em;
  top: 65%;
  left: 30%;
}