/*style.css general --------*/

@font-face {
  font-family: 'AnironC';
  src: url('Polices/AnironC.ttf');
}

@font-face {
  font-family: 'Tengwar Annatar';
  src: url('Polices/tngan.ttf');
}

@font-face {
  font-family: 'Party Business';
  src: url('Polices/partybusiness.ttf');
}

@font-face {
  font-family: 'AnironB';
  src: url('Polices/anirm.ttf');
}

body {
  font-family: AnironC;
  background-image: url('https://i.ibb.co/BrGQJ32/bg-light.png')
}

hr {
  border-top: 2px solid #FFA033;
  width: 500px;
}

.symbole {
  font-family: Tengwar Annatar;
  color: #FFA033;
}

/*NavBar ----------*/

.bg-light {
  background-color: #FFA033 !important;
}

ul {
  margin-left: auto;
  list-style-type: none;
}

.navbar-nav .nav-link {
  color: white !important;
}

/*Carousel ---------*/

.carousel-caption {
  margin-bottom: 160px;
}

/*NavPills -------------*/

.nav-link {
  color: #FFA033;
}


/*card : details -------------------*/
#rewardcard {
  background-color: black;
  color: white;
  font-family: Party Business;
}

.card-title {
  display: none;
}

/*card : img of Gandalf / opacity ----------------------------------------------------------------------------------------*/
.card-img-top {
  opacity: 0.5;
}

/*card : text of Gandalf ----------------------------------------------------------------------------------------*/
.nametext {
	position: absolute;
  color: white;
  top: 250px;
  left: 100px;
  font-size: 2em;
}

/*card : reward of Gandalf + span ----------------------------------------------------------------------------------------*/
.rewardtext {
	position: absolute;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 8px;
  color: black;
  top: 1px;
  right: 2px;
  font-size: 1.5em;
  margin: 5px;
  padding: .5em;
  opacity: 1;
}

span {
  color: #FE6B0A;
}

#gimlidead {
  margin-right: 100px;
}


/*card : hover reaction ! ----------------------------------------------------------------------------------------*/
.card:hover .rewardtext {
  opacity : 0;
}

.card:hover .card-img-top {
  opacity : 1;
}

.card:hover .nametext{
  font-size: 2em;
  top: 60%;
  left: 35%;
}

/*reward -----------------------------------*/

#capturedbg, #capturedbg2, #capturedbg3 {
  background-color: black;
  color: white;
}

#contactusbutton {
  color: #FFA033;
}

/*Best hunters -------------------------------------------*/

#besthunter1, #besthunter2 {
  color: #FFA033;
  font-family: 'AnironB';
}

#bglogo1, #bglogo2 {
  background-color: black;
  margin-right: 260px;
  margin-top: 26px;
  color: #FFA033;
}

.coins1 {
  font-family: Tengwar Annatar;
}

.coins2 {
  font-family: Tengwar Annatar;
}

.justformargin1, .justformargin2 {
  margin-top: 26px;
}

/*About the ring --------------------------------*/

#abouttheringbg1, #abouttheringbg2, #abouttheringbg3, #aboutcardbg1, #aboutcardbg2 {
  background-color: black;
  color: white;
}

#aboutcardheader1, #aboutcardheader2 {
  background-color: #FFA033;
  color: white;
}

#aboutcardbody1, #aboutcardbody2, #aboutmedia, #quotegollum {
  font-family: Party Business;
  font-size: 30px;
  background-color: #C7C7C8;
  color: black;
}

#quotegollum {
  margin-left: 800px;
}

#imageofgollum {
  width: 180px;
  height: 180px;
}

#titretable1, #titretable2 {
  font-size: 40px;
}

/*Join -----------------------------------*/

#imgofarmy {
  height: 250px;
  width: 400px;
}

#moreinfo {
  margin-left: 200px;
  margin-top: 70px;
  color: #FFA033;
}

/*Form --------------------------------------*/

#map {
  height: 410px;
  width: 500px;
}

#contform1, #contform2 {
  background-color: black;
  color: white;
}

/*footer -----------------------------------*/

#footer {
  background: #FFA033;
  color: white;
}