/*style.css general --------*/

@font-face {
  font-family: 'AnironC';
  src: url('Polices/AnironC.ttf');
}

@font-face {
  font-family: 'Tengwar Annatar';
  src: url('Polices/tngan.ttf');
}

@font-face {
  font-family: 'Party Business';
  src: url('Polices/partybusiness.ttf');
}

body {
  font-family: AnironC;
  background-image: url('https://i.ibb.co/BrGQJ32/bg-light.png')
}

hr {
  border-top: 2px solid #FFA033;
  width: 500px;
}

.symbole {
  font-family: Tengwar Annatar;
  color: #FFA033;
}

/*NavBar ----------*/

.bg-light {
  background-color: #FFA033 !important;
}

ul {
  margin-left: auto;
  list-style-type: none;
}

.navbar-nav .nav-link {
  color: white !important;
}

/*Carousel ---------*/

.carousel-caption {
  margin-bottom: 160px;
}

/*NavPills -------------*/

.nav-link {
  color: #FFA033;
}


/*card : details -------------------*/
.card {
  
}

/*card : img of Gandalf / opacity ----------------------------------------------------------------------------------------*/
.card-img-top {
  opacity: 0.5;
}

/*card : text of Gandalf ----------------------------------------------------------------------------------------*/
.nametext {
	position: absolute;
  color: white;
  top: 250px;
  left: 50px;
  font-size: 2em;
}

/*card : reward of Gandalf + span ----------------------------------------------------------------------------------------*/
.rewardtext {
	position: absolute;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 8px;
  color: black;
  top: 1px;
  right: 1.5px;
  font-size: 1.5em;
  margin: 2px;
  padding: .5em;
  opacity: 1;
}

span {
  color: #FE6B0A;
}

/*card : hover reaction ! ----------------------------------------------------------------------------------------*/
.card:hover .rewardtext {
  opacity : 0;
}

.card:hover .card-img-top {
  opacity : 1;
}

.card:hover .nametext{
  font-size: 2em;
  top: 65%;
  left: 18%;
}